<div class="container" align="center">
    <div class="example-container">
        <mat-card>
            <form #fLogin="ngForm" (ngSubmit)="login(fLogin)" >
                <mat-card-header>
                    <img src="assets/img/logo.png" alt="GF">
                </mat-card-header>
                <mat-card-content class="">
                    <mat-form-field class="">
                        <input matInput name="email" type="email" placeholder="Email" ngModel required>
                    </mat-form-field><br>
                    <mat-form-field class="">
                        <input matInput name="senha" type="password" placeholder="Senha" ngModel required>
                    </mat-form-field>
                </mat-card-content>
                <mat-card-footer>
                    <button mat-button color="primary">Entrar</button>
                    <a routerLink="/cadastro" mat-button color="primary">Cadastre-se</a>
                </mat-card-footer>
            </form>
        </mat-card>
    </div>
</div>