/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.text-success {
    color: green;
}
.text-danger {
    color: red;
}
.text-orange {
  color: #FF8000;
}
.text-blue-light {
  color: #00FFFF;
}
.text-green-dark {
  color: #0B6138;
}
.text-blue {
  color: #0040FF;
}
a {
    text-decoration: none;
    cursor: pointer;
}
mat-card {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
mat-card-footer {
    padding-bottom: 20px;
}
.btn-fab {
    z-index: 99;
    position: fixed !important;
    top: 80px;
    right: 10px;
    margin: 20px !important;
    background-color: limegreen !important;
}
